.product {
  margin: 20px;
  border: 1px solid #ccc;
  max-width: 320px;
  float: left;
  min-height: 500px;
}

.img-wrap img {
  max-width: 240px;
  max-height: 240px;
}
.buy-btn {
  background-color: var(--maincolor);
}
.add-cart-btn {
  border: 1px solid #ccc;
}
